$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


body {
  overflow-x: hidden;
  max-width: 100%;
  background-image: url(../images/bg.png);
  background-size: cover;
  p {
    font-size: 12px;
  }
  h4 {
    font-size: 15px;
  }
}

div#main {
  width: 100%;
  height: 400px;
  color: white;
  #main-text {
    margin: 180px auto;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    #k {
      color:rgba(251,55,55,.9);
      font-size: 170px;
    }
    h4 {
      font-size: 30px;
    }
  }
  a {
    color: white;
  }
  img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.content {
  padding-top: 160px;
  font-family: 'Lato', sans-serif;
  #hello {
    text-align: center;
    color: white;
    padding: 80px 50px;
    margin-bottom: 50px;
    h1 {
      font-size: 80px;
    }
    p {
      font-size: 30px;
    }
  }
  .block {
    margin: 200px 0 200px 0;
  }
}


#about {
  margin: 150px 0 200px 0;
  background-color: rgba(0,0,0, 0.5);
  color: white;
  padding: 40px;
  img#profpic {
    height: 200px;
    width: 200px;
    border-radius: 300%;
    float: left;
    padding: 0;
  }
  .about-wrapper {
      float: right;
      max-width: 70%;
      padding-top: 10px;
      p {
        line-height: 24px;
      }
    }
}

div.buttons {
  padding: 20px 20px 20px 0px;
  button {
    background-color: white;
    float: right;
    margin: 0 10px;
    padding: 10px 15px;
    border: 1px solid grey;
  }
  & .active {
      background-color: black;
      color: white;
    }
}

.projects {
  margin-top: 50px;
  #toggle-projects {
    margin-bottom: 50px;
  }
  .row {
    padding-left: 40px;
  }
}
.overlay{
  background:rgba(0,0,0,.85);
  text-align:center;
  padding:30px 25px 50px 25px;
  color: white;
  height: 100%;
  width: 100%;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}
.project {
    height: 180px;
    max-width: 250px;
    margin: 1px;
    background-image: url(../images/comingsoon.png);
    padding: 0;
    display: none;
    :hover.overlay {
      opacity:1;
    }
  }
  #buzz {
    background-image: url(../images/thebuzzpic.png);
  }
 #filtr {
    background-image: url(../images/filtrpic.png);
  }
 #motivatr {
    background-image: url(../images/motivatrpic.png);
  }
  #emails {
    background-image: url(../images/email1.png);
  }
 #rebrand {
    background-image: url(../images/rebrand.png);
  }
  #splash {
    background-image: url(../images/splashpg.png);
  }
  #sups-catalogue {
    background-image: url(../images/sups-catalogue.png);
  }
  #sups-landingpg {
    background-image: url(../images/sups-landingpg.png);
  }
  #art {
    background-image: url(../images/art.png);
  }


#contact {
  padding: 150px 0;
  h1 {
    font-size: 80px;
    color: white;
  }
  div.icons {
    text-align: center;
    i {
      margin: 40px 20px 0 20px;
    }
    .a-icon {
      color: white;
      text-decoration: none;
    }
  }
  form {
    padding: 50px;
    max-width: 700px;
    margin: 50px auto 50px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(148,145,148,0.8);
    -moz-box-shadow: 0px 0px 5px 2px rgba(148,145,148,0.8);
    box-shadow: 0px 0px 5px 2px rgba(148,145,148,0.8);
    background-color: white;
    textarea {
      resize: none;
      width: 100%;
      height: 300px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  .footer-nav {
    margin-left: 0px;
    .section-btn {
      padding: 20px;
      display: inline-block;
      float: left;
      height: 100%;
      a {
        margin: 0 70px 0 70px;
        color: rgba(251,55,55,.9);
        font-size: 16px;
      }
    }
  }
}

a:link {
  text-decoration: none;
}

.colored {
  background-color: rgba(251,55,55,.9);
}
.white {
  color: white ! important;
  font-size: 25px;
}


// bootstrap default

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 850px;
  }
}
